In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_json('data/Sarcasm.json', lines=True)
data.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [4]:
data = data.drop(['article_link'], axis=1)
data.head()

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  mom starting to fear son's web series closest ...             1
3  boehner just wants wife to listen, not come up...             1
4  j.k. rowling wishes snape happy birthday in th...             0

In [6]:
data['is_sarcastic'] = data['is_sarcastic'].map({0:'Not Sarcastic', 1:'Sarcastic'})
data.head()

                                            headline   is_sarcastic
0  former versace store clerk sues over secret 'b...  Not Sarcastic
1  the 'roseanne' revival catches up to our thorn...  Not Sarcastic
2  mom starting to fear son's web series closest ...      Sarcastic
3  boehner just wants wife to listen, not come up...      Sarcastic
4  j.k. rowling wishes snape happy birthday in th...  Not Sarcastic

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
x = np.array(data['headline'])
y = np.array(data['is_sarcastic'])

cv = CountVectorizer()
x = cv.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

model = BernoulliNB()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8392612005491077

In [11]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: Cows lose their jobs
['Not Sarcastic']